#header{
    width:100vw;
    height:20vh;
    background-color: aquamarine;
}
.parent{
    width:100vw;
    height:80vh;
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    border-radius: 10px;
}
.card{
    width: 550px;
    height: 350px;
    background-color: blueviolet;
}
.top{
    width:100%;
    height: 50%;
    background-color: beige;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}
.bottom{
    width:100%;
    height:50%;
    background-color:azure ;
    display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}
.logo{
    width: 20%;
    height: 90%;
    background-color: wheat;
    margin-top: 1cap;
    object-fit: contain;
}
.image{
    width: 20%;
    height: 90%;
    background-color:wheat;
    margin-top: 1cap;
}
#img1{
    width:110px;
    height:150px;
}
#img2{
    width:110px;
    height:150px
}
#button1{
    width:60px;
    height:30px;
    margin: 120px 10px;
}
#button2{
    width:60px;
    height:30px;
margin: 120px 5px;

}
#button3{
    width:70px;
    height: 30px;
    margin:120px 5px;
}