#area{
    border-radius: 5px;
    width:200px;
    background-color: yellow;
}
#card3{
    width:200px;
    height:150px;
    background-color: aqua;
text-align: center;
    background-color: rgb(199, 32, 32);
    


}
#parent{
    width:100%;
    height: 100%;
    background-color: blueviolet;
    display: flex;
justify-content: center;
align-items: center;

}
body{
    width: 100vw;
    height: 100vh;
}