body{
    background-image: url(https://cdn.pixabay.com/photo/2016/07/27/04/10/rectangle-1544540_640.png);
    background-color: aliceblue;
    width: 100vw;
    height: 100vh;
    background-size: contain;
    
}
#card2{
    width:200px;
    height:150px;
    background-color: aqua;
    margin:200px 350px;
    background-color: white;
    padding: 20px;
}
#area{
    border-radius: 5px;
    width:200px;
    background-color: yellow;
}