#bg{
   width: 100%;
   height:100%; 
 background-color: azure;
 display: flex;
 flex-wrap: wrap;
gap:10px;
}
.card{
    width: 400px;
    overflow: auto;
    border-radius: 20px;

    background-color:rgb(22, 132, 66) ;
       
    
    
}

#img1{
    width:400px;
    height:300px ;
}